# Archivos ejecutables compilados de C
*.exe
*.out
*.o

# Carpeta de configuraciones locales de Visual Studio Code
.vscode/

# Archivos generados por el sistema operativo Windows
Thumbs.db

ignorado.txt